page-login {

  img#logopm {
    width: 50%;
    margin-left: 25%;
  }

  button#btnEntrar {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  button#btnRegistrar {
    //background-color: darkgray;
  }

  button#btnEsqueci {
    color: gray;
    margin-top: 15px;
    //background-color: transparent;
  }
}
